/* 1. Altere a cor do fundo para uma tonalidade de marrom claro, o tamanho do texto para
40px, cor da letra branca, alinhe o texto no centro e a fonte da letra para “Lucida Sans” */

h1 {
    background-color: rgb(124, 109, 91);
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans';
}

/* 2. Ao passar o mouse sobre o título o fundo deve mudar para a cor preta.
3. O conteúdo da página deve ser mostrado com a fonte “Arial”.
4. Todos os parágrafos devem ter um recuo de 20px.
 */

 h1:hover {
    background-color: black;
 }

 /* 3. O conteúdo da página deve ser mostrado com a fonte “Arial”. */

 p {
    font-family: Arial;
 }
 /* 4. Todos os parágrafos devem ter um recuo de 20px.
 */
 p {
    margin-left: 20px;
 }
 /* 5. O título introdutório da lista ordenada que possui a escrita: “Conceitos Fundamentais
de CSS:” deve estar com seu texto em negrito e a letra deve ter o tamanho de 20x.*/

h3 {
    font-weight: bold;
    font-size: 20px;
}

/*6. Os itens da lista devem estar com alinhamento justificado*/

li {
    justify-content: center;
}

/* 7. Todo o conteúdo da página precisa ter um espaçamento superior e inferior de 50px e os
lados precisam ter um espaçamento de 200px */

body {
    margin: 50px 200px;
}